@model DesireDelivery.Models.Owner
@{
    ViewBag.Title = "RegisterOwner";
    string message = ViewBag.Message;
}


@using (Html.BeginForm("RegisterOwner", "DD", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    <fieldset>
        <legend>Register Owner</legend>
        <table class="table table-borderless d-grid">
            <tbody>
                <tr>
                    <td>@Html.LabelFor(l => l.Name)</td>
                    <td>@Html.TextBoxFor(t => t.Name)</td>
                    <td>@Html.ValidationMessageFor(v => v.Name)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(l => l.Email)</td>
                    <td>@Html.TextBoxFor(t => t.Email)</td>
                    <td>@Html.ValidationMessageFor(v => v.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(l => l.MobileNumber)</td>
                    <td>@Html.TextBoxFor(t => t.MobileNumber)</td>
                    <td>@Html.ValidationMessageFor(v => v.MobileNumber)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(l => l.Address)</td>
                    <td>@Html.TextAreaFor(t => t.Address)</td>
                    <td>@Html.ValidationMessageFor(v => v.Address)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(l => l.DateOfBirth)</td>
                    <td>@Html.EditorFor(t => t.DateOfBirth)</td>
                    <td>@Html.ValidationMessageFor(v => v.DateOfBirth)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(l => l.Password)</td>
                    <td>@Html.TextBoxFor(t => t.Password)</td>
                    <td>@Html.ValidationMessageFor(v => v.Password)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(l => l.ConfirmPassword)</td>
                    <td>@Html.TextBoxFor(t => t.ConfirmPassword)</td>
                    <td>@Html.ValidationMessageFor(v => v.ConfirmPassword)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(l => l.ImagePath)</td>
                    <td><input type="file" name="ImagePath" required/></td>
                    <td>@Html.ValidationMessageFor(v => v.ImagePath)</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="righttxt"><input type="submit" value="Save" class="btn btn-outline-secondary" /></td>
                </tr>
            </tbody>
        </table>
        <label>@message</label>
    </fieldset>
}


@section scripts
{
    <script>
        $(function() {
            $("#DateOfBirth").datepicker(
            {
                dateFormat: "yy-dd-mm"
            });
        });
    </script>
}