@using DesireDelivery.Models.OwnersA

@{
    ViewBag.Title = "FoodsView";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    List<Foods> foods = ViewBag.Foods;
}

@using (Html.BeginForm("FoodsView", "DDUser", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <fieldset>
        <legend>Food View</legend>
        <table class="table table-borderless d-grid">
            <tr>
                <td><input type="text" id="Search" placeholder="Enter a food name"/></td>
                <td><input type="button" value="Submit" id="Submit"/></td>
            </tr>
        </table>
        <table class="table table-bordered" id="table11">
            <thead>
            <tr>
                <th>Food Name</th>
                <th>Restaurant Name</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody id="tablebody">

                @*@if (foods!=null)
                {
                    foreach (var food in Model)
                {
                    <tr>
                        <td>@food.FoodName</td>
                        <td>@food.Restaurant</td>
                        <td>@food.Price</td>
                        <td>@food.ImagePath</td>
                    </tr>
                }
                }
                else
        {
            <label>"No data Found!"</label>
        }*@
            </tbody>
        </table>
</fieldset>
}


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#Search").on('change', function() {

                var str = $("#Search").val();
                var json = { stri: str };
                $("#tablebody").empty();
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("GetFoodBySearching", "DDUser")',
                    contentType: 'application/json',
                    data: JSON.stringify(json),
                    error: function (error) {
                        alert("No data found");
                    },
                    success: function (response) {
                        $.each(response, function(key, value) {
                            $("#tablebody").append('<tr><td>' + value.FoodName + '</td><td>' + value.Price + '</td><td>' + value.Restaurant + '</td><td><img src =' + value.ImagePath + '/></td></tr>');
                        });
                    }
                });
            });
        });
    </script>
}
